/* Style global pour la page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('images/fond2.jpg') no-repeat center center fixed; /* Image de fond */
    background-size: cover;
}

/* En-tête avec logo, bouton retour et menu */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}


header .logo {
    width: 60px;  
    height: 60px;
    transition: transform 0.3s ease;
}

/* Effet de survol pour le bouton retour */
.back-button-img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease; 
}


.back-button-img:hover {
    transform: scale(1.2);  /* Agrandir le bouton retour lorsqu'on passe dessus */
    cursor: pointer;
}

.back-button {
    display: inline-block;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s, background-color 0.3s;
}

nav ul li a:hover {
    color: #fff;
    background-color: #5D3FD3;
    border-radius: 5px;
}

main {
    margin-top: 80px;
    padding: 20px;
}

h1 {
	font-family:'Playball', cursive;
    font-size: 2em;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

h2 {
    font-size: 1.6em;
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: 80px;
    font-weight: bold;
    color: #2a52be;
}

section {
    margin-left: 80px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        justify-content: center;
    }

    nav ul {
        flex-direction: column;
    }

    section {
        margin: 20px;
    }
}
